.page-content {
  display: flex;
  justify-content: center;
}

.page-title {
  text-align: center;
}

.404-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-button {
  background-color: #DB1919;
  width: 10rem;
  color: white;
  margin: 0 auto;
}
