.who-we-are-banner {
  background: url('../../assets/about-page/tonyeaganaba.jpg') no-repeat center;
  background-size: cover, contain;
  height: 100vh;
}

.how-we-help-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  background-size: cover, contain;
  height: 100vh;
}

.programs-banner {
  background: url('../../assets/about-page/MusicHealsInstagram-programs2.png') no-repeat center;
  background-size: cover, contain;
  height: 100vh;
}

.success-stories-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  background-size: cover, contain;
  height: 100vh;
}
