// WHO WE ARE

.who-we-are-banner {
  background: url('../../assets/about-page/tonyeaganaba.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-left;
}

.who-we-are-content-box {
 @include content-box;
 @include content-box-left;
}

.donate-button {
  background-color: #DB1919;
  width: 6rem;
  color: white;
}

// HOW WE HELP

.how-we-help-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-right;
}

.how-we-help-content-box {
  @include content-box;
  @include content-box-right;
}

// PROGRAMS

.programs-banner {
  background: url('../../assets/about-page/MusicHealsInstagram-programs2.png') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-left;
}

.programs-content-box {
  @include content-box;
  @include content-box-left;
}

// SUCCESS STORIES

.success-stories-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-right;
}

.success-stories-content-box {
  @include content-box;
  @include content-box-right;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
}
