// TEXT

.text-overflow-control {
  @include text-overflow-control-mixin;
}


.text-overflow-control::-webkit-scrollbar {
    width: 12px;
}

.text-overflow-control::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.text-overflow-control::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.content-text {
  @include content-text-mixin;
}

// WHO WE ARE

.who-we-are-banner {
  background: url('../../assets/about-page/tonyeaganaba.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-left;
}

.who-we-are-content-box {
 @include content-box;
 @include content-box-left;
}

.donate-button {
 @include donate-button-mixin;
}

// HOW WE HELP

.how-we-help-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-right;
}

.how-we-help-content-box {
  @include content-box;
  @include content-box-right;
}

// PROGRAMS

.programs-banner {
  background: url('../../assets/about-page/MusicHealsInstagram-programs2.png') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-left;
}

.programs-content-box {
  @include content-box;
  @include content-box-left;
}

// SUCCESS STORIES

.success-stories-banner {
  background: url('../../assets/about-page/checksigning-redoverlay.jpg') no-repeat center;
  @include banner-dimensions;
  @include banner-flex-right;
}

.success-stories-content-box {
  @include content-box;
  @include content-box-right;
}

.video-wrapper {
  @include video-box;

  .first-iframe {
    margin-bottom: 1rem;
  }

  iframe {
    border: 3px solid white;
    border-bottom: 1px solid white;
  }
}
