.post-type-archive-donation {

  .donation-header {
    text-align: center;
  }

  .page-title {
    font-size: 45px;
    margin: 10px;
    @include desktop {
      font-size: 30px;
    }
  }
}

  .donation-banner-steps {
    @include desktop {
      display: flex;
      flex-direction: column;
        flex-wrap: wrap;
    }
  }

  .donation-banner {
    background: url('../../assets/donation-page/donation-banner.jpg') no-repeat center;
    background-size: cover, contain;
    display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
    width: 100%;
    @include desktop {
      background-size: cover, cover;
      height: 650px;
      position: absolute;
      z-index: 0;
    }
  }

  .translucent-background {
    background-color: rgba(255,255,255,0.60);
    display: flex;
      align-items: center;
      justify-content: center;
    height: 70%;
    text-align: center;
    width: 70%;
    @include desktop {
      flex-direction: row;
      align-self: flex-start;
    }
  }

  .donation-info {
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    width: 100%;
    @include desktop {
      background-color: rgba(255,255,255,0.75);
      text-align:right;

     }

    h2 {
      color: #000;
      font-size: 28px;
      text-transform: uppercase;
    }

    p {
      display: none;
      @include desktop {
        display: block;
    }
  }
}

.donation-steps {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      display: flex;
        flex-direction: row;
    }

    .donation-step-wrapper {
      display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      width: 100%;
    }

    h2 {
      color: $med_grey;
      font-size: 30px;
      font-weight: 500;
      text-align:center;
      text-shadow: 2px 1px 2px rgba(150,150,150,.75);
      text-transform: uppercase;
      width: 70%;
      @include desktop {
        color: #fff;
      }
    }
  }
    .donation-steps {
      @include desktop {
        align-self: flex-start;
        padding-top: 20rem;
        position: relative;
         z-index: 1;
      }
   }

.donation-grid {
  display:flex;
    flex-direction: column-reverse;
  @include desktop {
    display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  margin-left: 2rem;
  margin-right: 2rem;

  .donation-wrapper {
    background-color: $dark_grey;
    border: 1px solid $med_grey;
    color: #fff;
    display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;
      margin-right: none;

    @include desktop {
      flex: 0 1 50%;
      max-width: 50%;
    }
  }

    .donation-image-wrapper {
      display: none;

      @include desktop {
        display: flex;
          flex-direction: row;
          flex: 0 1 50%;
          max-width: 50%;
        height: 60px;
        width: 50px;
        height: auto;
        width: auto;
      }
    }

  .donation-info {
    background-color: $dark_grey;
    text-align: left;
    padding-left: 1rem;
    @include desktop {
      display: flex;
        flex-direction: row;
        flex: 0 1 50%;
        max-width: 50%;
    }

    .price-wrapper {
      font-size: 3rem;
      padding-bottom: 1rem;
    }

    .donation-title {
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
    }

    p  {
      display: block;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 1rem;
    }
  }

  .donation-btn {
    background-color: $main_red;
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-left: 0;
    text-align: center;
    width: 100%;
    @include desktop {
      font-size: 30px;
      height: 50px;
      width: 270px;
    }
  }

}
