.post-type-archive-donation {

  .donation-header {
    text-align: center;
  }

  .page-title {
    font-size: 45px;
    margin: 10px;
    @include desktop {
      font-size: 30px;
    }
  }
}

  .donation-banner {
    background: url('../../assets/donation-page/Gifts_that_Heal.jpg') no-repeat center;
    background-size: cover, contain;
    display: flex;
      align-items: center;
      justify-content: center;
    margin-top: 0;
    width: 100%;
    @include desktop {
      background-size: cover, cover;
      justify-content: flex-end;
      height: 650px;
      border-bottom: 0;
    }
  }

  .donation-info {
    background-color: rgba(255,255,255,0.75);
    border-color: rgba(255,255,255,0.60);
    text-align: center;
    width: 60%;
    @include desktop {
      background-color: rgba(255,255,255,0.50);
      margin-top: -250px;
      padding: 0.5rem;
      text-align:left;
      width: 60%;
     }

    h2 {
      color: #000;
      font-size: 28px;
      text-transform: uppercase;
    }

    p {
      display: none;
      @include desktop {
        display: block;
        margin: 1rem;
    }
  }
}

.donation-steps {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      background-color: rgba(255,255,255,0.20);
      display: flex;
        flex-direction: row;
      margin-top: -280px;
    }

    .donation-step-wrapper {
      display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      width: 100%;
    }

    h2 {
      color: $med_grey;
      font-size: 30px;
      font-weight: 500;
      text-align:center;
      text-shadow: 2px 1px 2px rgba(150,150,150,.75);
      text-transform: uppercase;
      width: 70%;
      @include desktop {
        color: #fff;
          text-shadow: 2px 1px 2px rgba(100,100,100,.75)
      }
    }
  }

.donation-grid {
  display:flex;
    flex-direction: column-reverse;

  @include desktop {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .donation-wrapper {
    background-color: #fff;
    border: 2px solid $dark_grey;
    color: #000;
    display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    margin-bottom: 2rem;
    margin-right: none;
    @include desktop {
      background-color: $light_grey;
      display: flex;
        flex-direction: row;
      flex: 0 1 50%;
      max-width: 50%;
    }
  }

.donation-image-wrapper {
  display: none;
  @include desktop {
    display: flex;
      flex: 0 1 50%;
      max-width: 50%;
  }

  img {
    @include desktop {
      height: 19rem;
      margin: 1rem;
      width: 16rem;
    }
  }
}
  .donation-info-wrapper {
    text-align: left;
    @include desktop {
      background-color: #fff;
      border: 2px solid $dark_grey;
      display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        max-width: 50%;
      height: 19rem;
      margin: 1rem;
      width: 19rem;
    }

    .price-wrapper {
      font-size: 3rem;
      margin: 1rem;
      padding-left: 1rem;
      @include desktop {
        font-size: 2rem;
        text-align: right;
      }
    }

    .donation-title {
      font-size: 22px;
      font-weight: 600;
      padding-left: 1rem;
      text-transform: uppercase;
      @include desktop {
        font-size: 18px;
      }
    }

    p  {
      display: block;
      color: #000;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 1rem;
      padding-left: 1rem;
      @include desktop {
        font-size: 18px;
      }
    }
  }

  .donation-btn {
    background-color: $main_red;
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
    @include desktop {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
}
