
.site-footer {
  background-color: #9b9b9b;
  height: 70vh;
  width: 100%;
}

.site-info {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.signup span {
  color: #000;
}

.signup-form {
  display: flex;
  width: 20rem;
}

input[type="email"], input[type="submit"] {
	border-radius: 0px;
}

input[type="email"] {
  width: 80%;
}

input[type="submit"] {
	background: #db1921;
  border: 1px solid #000;
  box-shadow: none;
	color: white;
	cursor:pointer;
  font-size: .9rem;
	font-weight: 700;
  height: 2.2rem;
  text-align: center;
  width: 5rem;
}

.contact, .charity-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.contact p, .charity-info p {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.social-icons {
  color: #fff;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1rem;

  li {
    background-color: transparent;
    height: 35px;
    width: 35px;
  }
}
