
//===FrontPage PHP===//




//===Content-Home===//

// Mission Statement //

.video-box {
  background: url('../../assets/Home_image1.jpg') no-repeat center;
  background-size: cover;


  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  max-width: 100%;
  position: relative;

}

.text-wrapper {
  background-color: rgba(255,255,255, 0.6);
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  letter-spacing: 1px;
  padding-top: 2.5rem;
}

.header-text {
  text-align: center;
  padding: 0 2rem;
  line-height: 1;
  h1 {
    opacity: 1;
    color: black;
    margin: .25em 0;
  }
}

.tagline-text {
  text-align: center;
  padding: .5rem 2rem;
  line-height: 1;
  p {
    opacity: 1;
    color: black;
    font-weight: 500;
    margin: .25em 0;
  }

  span {
    font-style: italic;
  }
}

// Donations Page box //

.donations-box {
  background: url('../../assets/Home_Gift box.svg') no-repeat center;
  background-size: cover, cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 100%;
  max-width: 100%;
  letter-spacing: 1px;
  text-align: center;
  position: relative;

  h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1rem;
    line-height: 1.25;
  }

  .give {
    color: #DB1921;
    padding: .75rem 2.5rem;
  }
}

//  SLIDER SECTION

.bxslider {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-images {
  height: 50vh;
  width: 100vw;
}

// NEWS AND EVENTS SECTION

.news-and-events-section {
  width: 100vw;
  background: url(../../assets/Home_News-Events.jpg) no-repeat center;
  background-size: cover, contain;
}

.news-and-events {

  width: 80vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: no-wrap;
  margin: 0 auto;

  h1 {
    width: 300px;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: -1.5rem;
    line-height: 3.1rem;
    font-size: 2.5rem;
  }

  h2 {
    text-transform: capitalize;
  }

  span {
    font-size: 20px;
  }
}

// About Us Section //

.about-us {
  align-items: center;
  background:
  url('../../assets/Confirmation_Headphone-man2.jpg') center no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  max-width: 100%;

  h2 {
    color: #fff;
    font-size: 50px;
    margin-top: 5rem;
    text-transform: uppercase;
  }
}

// Shop Section //

.shop {
  align-items: center;
  background:
  url('../../assets/Home_Merch.jpg') center center no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  max-width: 100%;

  h2 {
    color: #fff;
    font-size: 50px;
    margin-top: 5rem;
    text-transform: uppercase;
  }
}
