a, a:visited {
  color:white;
  text-decoration: none;
}

body {
  font-family: 'Catamaran', sans-serif;
}

button {
  background-color: rgba(255,255,255, 0.7);
  border: 2px solid black;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  font-weight: 600;
  text-shadow: none;
}

.common-btn {
  color: #000000;
  font-size: 1.15rem;
  font-weight: 500;
  height: 3rem;
  margin-top: 1rem;
  width: 8rem;
}

.common-header {
  background: linear-gradient(to left, #DCD9D4, #E7E5E1, #DCD9D4);
  color: #000000;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 5rem;
  text-align: center;
}

.common-title {
  color: #000000;
  font-weight: 500;
  margin:0;
}

.box-padding {
 border-bottom: 1.3rem solid white;
 height: 400px;
}

@media only screen and (min-width: 1080px) {

  .box-padding {
    border: none;
  }

  .container {
    width: 100%;
    padding: 0 4%;
  }
}
