.site-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url('../../assets/Header_imagebanner.jpg') no-repeat center;
  background-size: cover;
  height: 75px;
  width: 100%;
}

.menu {
  width: 40px;
  padding-left: 1rem;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 100px;
  margin-left: 8rem;

  img {
    background: transparent;
  }
}

.cart {
  margin-right: 1rem;
}
