.site-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url('../../assets/Home_image1.jpg') no-repeat;
  height: 50px;
  width: 100%;
  z-index: 100;

}

.menu {
  width: 40px;
  padding-top: .5rem;
  padding-left: .5rem;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 100px;
  margin: 0 auto;
  padding-top: .5rem;
  padding-right: 1rem;

  img {
    background: transparent;
  }

}
