// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Media Query Mixins

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// CONTENT BOX MIXINS

@mixin content-box {
  height: 50vh;
  width: 80vw;
	padding-left: 2rem;

	h1 {
		text-align: left;
		text-transform: uppercase;
	}

	$desktop-width: 1080px;
	@media (min-width: $desktop-width) {
		height: 75vh;
		width: 65vw;
	}

}

@mixin content-box-left {
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

@mixin content-box-right {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

// BANNER MIXINS

@mixin banner-dimensions {
  background-size: cover, contain;
  height: 100vh;
}

@mixin banner-flex-left {
  display: flex;
  justify-content: center;
	align-items: center;

	$desktop-width: 1080px;
	@media (min-width: $desktop-width) {
		justify-content: flex-start;
	}
}

@mixin banner-flex-right {
  display: flex;
  justify-content: center;
	align-items: center;

	$desktop-width: 1080px;
	@media (min-width: $desktop-width) {
		justify-content: flex-end;
	}
}
