
.merch-category {
  text-decoration: underline;
  font-size: 2rem;
  padding-left: 2rem;
}

.merch-banner {
  background: url('../../assets/Merch_header.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.merch-tagline {
  text-align: center;
  font-size: 1.25rem;
  margin: .5rem 0;
  line-height: 1.25;

  p {
    margin: 0;
  }
}

.navbar {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 5px 0 5px 0;
  }

  li {
    font-weight: 500;
    margin: .5rem 0;
  }

  li:hover {
    text-decoration: underline;
  }
}

.smoothScroll {
  color: black !important;
}

//===Content===//

.product-wrapper {
  margin-bottom: 2rem;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include desktop {
    justify-content: space-around;
  }
}

.single-product-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  border: 3px solid white;

  &:hover {
    border:3px solid #db1921;
  }
}

.product-image {
  display: flex;
  align-items: center;

  img {
    height:150px;
    width: 150px;
  }

}

.product-info {
  text-align: center;

  h3 {
    margin:0;
    font-size: 1.85rem;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.product-type {
  display: block;
  color: #9b9b9b;
  font-size: 1.25rem;
  font-weight: 400;
}

.product-price {
  font-size: 1.75rem;
  font-weight: 600;
}

@media only screen and (min-width: 1080px) {

  .merch-container {
    padding: 0 8%;
  }

  .navbar li {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .merch-banner {
    height: 350px;
  }

  .merch-tagline {
    font-size: 1.75rem;
    margin: 1.5rem 2.5rem;
  }

  .single-product-category {
    flex-basis: 25%;
  }

  .product-image img {
    height: 175px;
    width: 175px;
  }
}
