.single-product {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-wrapper {
  display: flex;
    justify-content: center;
  @include desktop {
   border: 2px solid $light_grey;
  }
}

.product-wrapper {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  @include desktop {
   border: 2px solid $main_red;
  }
}

.product-details {
  display: flex;
    flex-direction: column;
}
.entry-title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.entry-content {
  display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  margin-top: 0;
  width: 80%;
}

.size-buttons {
  margin-bottom: 1rem;

  button {
    margin: .5rem;
  }
}

.shopping-buttons {
  display: flex;
    flex-direction: column;
  button {
    background-color: $main_red;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
