// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #DB1921;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Music Heals Colours
$main_red: #DB1921;
$light_grey: #C9C9C9;
$lightmed_grey: #D8D8D8;
$med_grey: #9B9B9B;
$dark_grey: #4A4A4A;

//Font Sizes
$mobile-font-size: 14px;
$desktop-font-size: 16px;

//Screen Widths
$desktop-width: 1080px;

//Desktop margin
$desktop-border: .5rem solid #fff;
